<p> Total Entry :- <%= total_entry %></p>
<p> Active Public :- <%= active_public %></p>
<div>
  <p> Total Public :- <%= total_public %></p>
  <p> Total Gross :- <%= total_income %></p>
</div></br></br>

<%= button_to "Back to customers", customers_path, method: :get  %>
